body{
  height: 100vh;
  background: linear-gradient(180deg, rgba(102,153,181,1) 15%, rgba(149,149,149,1) 40%, rgba(158,121,121,1) 66%, rgba(161,81,81,1) 90%);
}

.app {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.dropdownSection {
  margin: 0px 0px 15px 0px;
  width: 100%;
}
.dropdownSection .dropdownWrapper {
  background-color: #811515;
  padding: 10px;
  border-radius: 5px;
}
.dropdownSection .dropdownWrapper .cityDropdown {
  font-size: 16px;
  padding: 8px 20px 8px 8px;
  border-radius: 5px;
}

.daysListWrapper {
  margin: 0px 0px 15px 0px;
  width: 100%;
}

.daysList{
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px;
}

.daysList li {
  padding: 10px;
  border-radius: 5px;
}

.activeDay {
  border: 1px solid #d10000;;
  padding: 10px;
}
